.recommended-author{
    width: 100%;
    .title-box{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .title{
            font-size: 14px;
            color: #969696;
        }
        .but{
            font-size: 14px;
            color: #969696;
            cursor: pointer;
            &:hover {
                svg.icon{
                    transform: rotate(360deg);
                }
            }
            svg.icon{
                width: 14px;
                height: 14px;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
                margin-right: 5px;
                transition: all 0.5s;
                transform: rotate(0deg);
            }
        }
    }
    .more-but{
        padding: 7px 7px 7px 12px;
        left: 0;
        width: 100%;
        height: 40px;
        line-height: 25px;
        font-size: 13px;
        color: #787878;
        background-color: #f7f7f7;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        display: block;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        margin-top: 15px;
    }
}